.city-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-search-select {
  width: 200px;
}

.city-search-button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 35px;
}
