@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/font/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  height: 100vh;
  font-family: Inter, serif;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding: 20px;
  background: #d9d9d933;
}

.search {
  align-items: center;
}

.search input {
  padding: 10px;
  margin-right: 10px;
}

.content {
  font-family: Inter, serif;
  display: flex;
  justify-content: space-around;
  width: 55%;
  background: rgba(217, 217, 217, 0.5);
  padding: 20px;
}

.clear {
  background-image: url('../../assets/jpg/sunny.jpg');
}

.rain {
  background-image: url('../../assets/jpg/rain.jpg');
}

.cloud {
  background-image: url('../../assets/jpg/oblaka.jpg');
}
